In [324]:
import pandas as pd
import numpy as np

In [325]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [326]:
sample_submission.head()

   loan_id  m13
0        1    0
1        2    0
2        3    0
3        4    0
4        5    0

In [327]:
print(len(train_data))
print(len(test_data))

116058
35866

In [328]:
train_data_edited = train_data.drop('m13', axis=1)

In [329]:
X_combined_data = pd.concat([train_data_edited, test_data])
X_combined_data

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,0,1,0,0,0,0,0
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,0,1,0
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,0
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,0,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,2,3,4,5,6,7,8,9,10,11
5,769060024464,Y,Browning-Hart,4.375,150000,360,2012-02-01,04/2012,80,1.0,...,0,0,0,0,0,0,0,0,0,0
6,148071614687,X,OTHER,4.000,59000,360,2012-02-01,04/2012,95,1.0,...,0,0,0,0,0,0,0,0,0,0
7,853383953266,Y,Browning-Hart,4.500,319000,300,2012-01-01,03/2012,62,1.0,...,0,0,0,0,0,0,0,0,0,0
8,423590072335,X,Browning-Hart,4.000,520000,360,2012-03-01,05/2012,76,1.0,...,0,0,1,0,1,0,1,2,0,1
9,308990846816,X,OTHER,4.000,214000,360,2012-01-01,03/2012,95,2.0,...,0,0,0,1,1,1,1,1,2,2
10,154855543213,X,OTHER,4.125,74000,360,2012-02-01,04/2012,90,1.0,...,0,0,0,0,0,0,0,0,0,1
11,780643872178,X,Richardson Ltd,3.750,192000,121,2012-01-01,03/2012,80,1.0,...,1,0,1,0,0,0,0,0,1,1
12,901409059208,X,OTHER,4.625,46000,360,2012-03-01,05/2012,80,1.0,...,0,0,0,0,0,0,0,0,0,0
13,102451329914,X,"Swanson, Newton and Miller",4.375,256000,360,2012-01-01,03/2012,80,1.0,...,0,0,1,2,3,4,5,6,7,8
14,828404369124,Y,Edwards-Hoffman,5.125,84000,360,2012-02-01,04/2012,80,1.0,...,0,0,0,0,0,0,0,0,0,0
15,895377180786,X,OTHER,4.125,48000,240,2012-01-01,03/2012,55,1.0,...,0,1,0,0,0,0,0,0,1,1
16,556238051864,Y,Browning-Hart,4.250,68000,360,2012-02-01,04/2012,80,1.0,...,0,0,0,0,0,0,1,1,2,3
17,715484786393,Y,Browning-Hart,4.000,142000,360,2012-02-01,04/2012,70,1.0,...,0,0,0,0,0,0,0,0,0,0
18,428108380103,Y,"Swanson, Newton and Miller",4.625,89000,240,2012-01-01,03/2012,65,1.0,...,0,0,1,0,0,0,0,0,0,1
19,252577759845,Y,"Turner, Baldwin and Rhodes",4.375,417000,360,2012-02-01,04/2012,56,1.0,...,0,0,0,0,0,0,1,2,2,2
20,590967091253,X,OTHER,4.625,55000,360,2012-02-01,04/2012,50,1.0,...,0,1,0,0,0,0,0,0,0,0
21,481425798631,Y,"Turner, Baldwin and Rhodes",4.500,60000,360,2012-02-01,04/2012,55,1.0,...,0,0,0,0,0,0,0,0,0,1
22,897810643785,X,OTHER,3.250,127000,120,2012-01-01,03/2012,62,2.0,...,0,0,0,1,0,1,1,0,0,1
23,136868745615,X,OTHER,3.375,215000,180,2012-01-01,03/2012,44,1.0,...,0,0,0,0,0,0,0,0,0,1
24,134695659987,X,OTHER,4.500,150000,360,2012-01-01,03/2012,75,1.0,...,0,0,0,0,0,0,0,0,1,1
25,757687253558,X,OTHER,4.500,246000,360,2012-02-01,04/2012,90,2.0,...,0,0,0,0,0,0,0,0,1,2
26,477152543889,Y,OTHER,3.750,77000,180,2012-02-01,04/2012,85,2.0,...,0,0,0,0,0,0,0,0,0,1
27,639128211599,X,OTHER,3.750,203000,360,2012-02-01,04/2012,73,2.0,...,0,0,0,0,0,0,0,0,0,0
28,391938144683,X,OTHER,3.750,162000,360,2012-02-01,04/2012,58,2.0,...,0,0,0,1,0,0,0,0,0,0
29,276078099929,Y,Browning-Hart,4.125,264000,360,2012-01-01,03/2012,77,2.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35836,35837,Y,Browning-Hart,3.875,191000,360,01/02/12,Apr-12,74,2.0,...,0,0,0,0,0,0,0,0,0,0
35837,35838,X,"Miller, Mcclure and Allen",3.990,405000,360,01/01/12,Mar-12,18,2.0,...,0,0,0,0,0,0,0,0,0,0
35838,35839,X,OTHER,3.875,172000,360,01/02/12,Apr-12,77,1.0,...,0,0,0,0,0,0,0,0,0,0
35839,35840,Y,"Martinez, Duffy and Bird",4.250,43000,180,01/02/12,Apr-12,70,1.0,...,0,0,0,0,0,0,0,0,0,0
35840,35841,Y,Browning-Hart,4.125,205000,360,01/02/12,Apr-12,78,1.0,...,0,0,0,0,0,0,0,0,0,0
35841,35842,Z,OTHER,3.750,145000,360,01/01/12,Mar-12,16,1.0,...,0,0,0,0,0,0,0,0,0,0
35842,35843,Y,Browning-Hart,4.375,320000,360,01/01/12,Mar-12,80,2.0,...,0,0,0,0,0,0,0,0,0,0
35843,35844,X,OTHER,3.250,152000,180,01/02/12,Apr-12,87,1.0,...,0,0,0,0,0,0,0,0,0,0
35844,35845,X,Browning-Hart,4.125,264000,360,01/02/12,Apr-12,80,2.0,...,0,0,0,0,0,0,0,0,0,0
35845,35846,Y,"Cole, Brooks and Vincent",3.990,230000,360,01/01/12,Mar-12,66,2.0,...,0,0,0,0,0,0,0,0,0,0
35846,35847,Z,Browning-Hart,3.750,298000,360,01/01/12,Mar-12,26,2.0,...,0,0,0,0,0,0,0,0,0,0
35847,35848,Z,"Cole, Brooks and Vincent",4.000,190000,360,01/02/12,Apr-12,78,1.0,...,0,0,0,0,0,0,0,0,0,0
35848,35849,Y,OTHER,4.375,200000,360,01/01/12,Mar-12,80,1.0,...,0,0,0,0,0,0,0,0,0,0
35849,35850,Y,Edwards-Hoffman,4.000,149000,240,01/02/12,Apr-12,70,2.0,...,0,0,0,0,0,0,0,0,0,0
35850,35851,X,OTHER,3.250,241000,120,01/01/12,Mar-12,67,1.0,...,0,0,0,0,0,0,0,0,0,0
35851,35852,Y,Suarez Inc,3.875,80000,360,01/01/12,Mar-12,32,1.0,...,0,0,0,0,0,0,0,0,0,0
35852,35853,X,OTHER,4.375,101000,360,01/02/12,Apr-12,80,1.0,...,0,0,0,0,0,0,0,0,0,0
35853,35854,Z,OTHER,3.990,387000,360,01/02/12,Apr-12,80,1.0,...,0,0,0,0,0,0,0,0,0,0
35854,35855,X,OTHER,3.875,130000,360,01/01/12,Mar-12,60,2.0,...,0,0,0,0,0,0,0,0,0,0
35855,35856,Y,OTHER,3.875,170000,240,01/02/12,Apr-12,60,2.0,...,0,0,0,0,0,0,0,0,0,0
35856,35857,X,OTHER,4.250,240000,360,01/01/12,Mar-12,73,2.0,...,0,0,0,0,0,0,0,0,0,0
35857,35858,X,Browning-Hart,4.000,304000,360,01/02/12,May-12,80,1.0,...,0,0,0,0,0,0,0,0,0,0
35858,35859,X,Browning-Hart,4.125,79000,180,01/02/12,Apr-12,64,1.0,...,0,0,0,0,0,0,0,0,0,0
35859,35860,X,OTHER,4.000,237000,360,01/01/12,Mar-12,64,1.0,...,0,1,0,0,0,0,0,0,0,0
35860,35861,Y,Browning-Hart,3.250,226000,180,01/02/12,Apr-12,80,2.0,...,0,0,0,0,0,0,0,0,0,0
35861,35862,X,OTHER,4.125,232000,240,01/01/12,Apr-12,80,2.0,...,0,0,0,0,0,0,0,0,0,0
35862,35863,Z,Edwards-Hoffman,3.375,204000,180,01/01/12,Mar-12,80,1.0,...,0,0,0,0,0,0,0,0,0,0
35863,35864,X,Browning-Hart,4.250,200000,360,01/02/12,Apr-12,52,2.0,...,0,0,0,0,0,0,1,0,0,0
35864,35865,Y,Edwards-Hoffman,4.375,400000,360,01/02/12,Apr-12,66,1.0,...,0,0,0,0,0,0,0,0,0,0
35865,35866,X,OTHER,4.375,182000,360,01/02/12,Apr-12,70,1.0,...,0,0,0,0,0,0,0,0,0,0

In [330]:
len(X_combined_data)

151924

In [331]:
print(len(X_combined_data))
print(len(set(X_combined_data['source'])))
print(len(set(X_combined_data['financial_institution'])))
print(len(set(X_combined_data['origination_date'])))
print(len(set(X_combined_data['first_payment_date'])))
print(len(set(X_combined_data['loan_purpose'])))

151924
3
19
6
8
3

In [332]:
X_combined_data_edited = X_combined_data.drop('loan_id', axis=1)

In [333]:
X_combined_data_edited

,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,...,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,22.0,...,0,0,0,0,1,0,0,0,0,0
1,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,44.0,...,0,0,0,0,0,0,0,0,1,0
2,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,33.0,...,0,0,0,0,0,0,0,0,0,0
3,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,44.0,...,0,0,0,0,0,0,1,1,1,1
4,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,43.0,...,2,3,4,5,6,7,8,9,10,11
5,Y,Browning-Hart,4.375,150000,360,2012-02-01,04/2012,80,1.0,46.0,...,0,0,0,0,0,0,0,0,0,0
6,X,OTHER,4.000,59000,360,2012-02-01,04/2012,95,1.0,44.0,...,0,0,0,0,0,0,0,0,0,0
7,Y,Browning-Hart,4.500,319000,300,2012-01-01,03/2012,62,1.0,45.0,...,0,0,0,0,0,0,0,0,0,0
8,X,Browning-Hart,4.000,520000,360,2012-03-01,05/2012,76,1.0,35.0,...,0,0,1,0,1,0,1,2,0,1
9,X,OTHER,4.000,214000,360,2012-01-01,03/2012,95,2.0,41.0,...,0,0,0,1,1,1,1,1,2,2
10,X,OTHER,4.125,74000,360,2012-02-01,04/2012,90,1.0,42.0,...,0,0,0,0,0,0,0,0,0,1
11,X,Richardson Ltd,3.750,192000,121,2012-01-01,03/2012,80,1.0,39.0,...,1,0,1,0,0,0,0,0,1,1
12,X,OTHER,4.625,46000,360,2012-03-01,05/2012,80,1.0,33.0,...,0,0,0,0,0,0,0,0,0,0
13,X,"Swanson, Newton and Miller",4.375,256000,360,2012-01-01,03/2012,80,1.0,37.0,...,0,0,1,2,3,4,5,6,7,8
14,Y,Edwards-Hoffman,5.125,84000,360,2012-02-01,04/2012,80,1.0,46.0,...,0,0,0,0,0,0,0,0,0,0
15,X,OTHER,4.125,48000,240,2012-01-01,03/2012,55,1.0,32.0,...,0,1,0,0,0,0,0,0,1,1
16,Y,Browning-Hart,4.250,68000,360,2012-02-01,04/2012,80,1.0,41.0,...,0,0,0,0,0,0,1,1,2,3
17,Y,Browning-Hart,4.000,142000,360,2012-02-01,04/2012,70,1.0,42.0,...,0,0,0,0,0,0,0,0,0,0
18,Y,"Swanson, Newton and Miller",4.625,89000,240,2012-01-01,03/2012,65,1.0,29.0,...,0,0,1,0,0,0,0,0,0,1
19,Y,"Turner, Baldwin and Rhodes",4.375,417000,360,2012-02-01,04/2012,56,1.0,45.0,...,0,0,0,0,0,0,1,2,2,2
20,X,OTHER,4.625,55000,360,2012-02-01,04/2012,50,1.0,45.0,...,0,1,0,0,0,0,0,0,0,0
21,Y,"Turner, Baldwin and Rhodes",4.500,60000,360,2012-02-01,04/2012,55,1.0,41.0,...,0,0,0,0,0,0,0,0,0,1
22,X,OTHER,3.250,127000,120,2012-01-01,03/2012,62,2.0,29.0,...,0,0,0,1,0,1,1,0,0,1
23,X,OTHER,3.375,215000,180,2012-01-01,03/2012,44,1.0,32.0,...,0,0,0,0,0,0,0,0,0,1
24,X,OTHER,4.500,150000,360,2012-01-01,03/2012,75,1.0,39.0,...,0,0,0,0,0,0,0,0,1,1
25,X,OTHER,4.500,246000,360,2012-02-01,04/2012,90,2.0,10.0,...,0,0,0,0,0,0,0,0,1,2
26,Y,OTHER,3.750,77000,180,2012-02-01,04/2012,85,2.0,43.0,...,0,0,0,0,0,0,0,0,0,1
27,X,OTHER,3.750,203000,360,2012-02-01,04/2012,73,2.0,19.0,...,0,0,0,0,0,0,0,0,0,0
28,X,OTHER,3.750,162000,360,2012-02-01,04/2012,58,2.0,43.0,...,0,0,0,1,0,0,0,0,0,0
29,Y,Browning-Hart,4.125,264000,360,2012-01-01,03/2012,77,2.0,41.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35836,Y,Browning-Hart,3.875,191000,360,01/02/12,Apr-12,74,2.0,27.0,...,0,0,0,0,0,0,0,0,0,0
35837,X,"Miller, Mcclure and Allen",3.990,405000,360,01/01/12,Mar-12,18,2.0,46.0,...,0,0,0,0,0,0,0,0,0,0
35838,X,OTHER,3.875,172000,360,01/02/12,Apr-12,77,1.0,44.0,...,0,0,0,0,0,0,0,0,0,0
35839,Y,"Martinez, Duffy and Bird",4.250,43000,180,01/02/12,Apr-12,70,1.0,38.0,...,0,0,0,0,0,0,0,0,0,0
35840,Y,Browning-Hart,4.125,205000,360,01/02/12,Apr-12,78,1.0,44.0,...,0,0,0,0,0,0,0,0,0,0
35841,Z,OTHER,3.750,145000,360,01/01/12,Mar-12,16,1.0,45.0,...,0,0,0,0,0,0,0,0,0,0
35842,Y,Browning-Hart,4.375,320000,360,01/01/12,Mar-12,80,2.0,42.0,...,0,0,0,0,0,0,0,0,0,0
35843,X,OTHER,3.250,152000,180,01/02/12,Apr-12,87,1.0,28.0,...,0,0,0,0,0,0,0,0,0,0
35844,X,Browning-Hart,4.125,264000,360,01/02/12,Apr-12,80,2.0,43.0,...,0,0,0,0,0,0,0,0,0,0
35845,Y,"Cole, Brooks and Vincent",3.990,230000,360,01/01/12,Mar-12,66,2.0,23.0,...,0,0,0,0,0,0,0,0,0,0
35846,Z,Browning-Hart,3.750,298000,360,01/01/12,Mar-12,26,2.0,36.0,...,0,0,0,0,0,0,0,0,0,0
35847,Z,"Cole, Brooks and Vincent",4.000,190000,360,01/02/12,Apr-12,78,1.0,32.0,...,0,0,0,0,0,0,0,0,0,0
35848,Y,OTHER,4.375,200000,360,01/01/12,Mar-12,80,1.0,41.0,...,0,0,0,0,0,0,0,0,0,0
35849,Y,Edwards-Hoffman,4.000,149000,240,01/02/12,Apr-12,70,2.0,31.0,...,0,0,0,0,0,0,0,0,0,0
35850,X,OTHER,3.250,241000,120,01/01/12,Mar-12,67,1.0,41.0,...,0,0,0,0,0,0,0,0,0,0
35851,Y,Suarez Inc,3.875,80000,360,01/01/12,Mar-12,32,1.0,34.0,...,0,0,0,0,0,0,0,0,0,0
35852,X,OTHER,4.375,101000,360,01/02/12,Apr-12,80,1.0,45.0,...,0,0,0,0,0,0,0,0,0,0
35853,Z,OTHER,3.990,387000,360,01/02/12,Apr-12,80,1.0,36.0,...,0,0,0,0,0,0,0,0,0,0
35854,X,OTHER,3.875,130000,360,01/01/12,Mar-12,60,2.0,36.0,...,0,0,0,0,0,0,0,0,0,0
35855,Y,OTHER,3.875,170000,240,01/02/12,Apr-12,60,2.0,22.0,...,0,0,0,0,0,0,0,0,0,0
35856,X,OTHER,4.250,240000,360,01/01/12,Mar-12,73,2.0,38.0,...,0,0,0,0,0,0,0,0,0,0
35857,X,Browning-Hart,4.000,304000,360,01/02/12,May-12,80,1.0,22.0,...,0,0,0,0,0,0,0,0,0,0
35858,X,Browning-Hart,4.125,79000,180,01/02/12,Apr-12,64,1.0,44.0,...,0,0,0,0,0,0,0,0,0,0
35859,X,OTHER,4.000,237000,360,01/01/12,Mar-12,64,1.0,45.0,...,0,1,0,0,0,0,0,0,0,0
35860,Y,Browning-Hart,3.250,226000,180,01/02/12,Apr-12,80,2.0,24.0,...,0,0,0,0,0,0,0,0,0,0
35861,X,OTHER,4.125,232000,240,01/01/12,Apr-12,80,2.0,30.0,...,0,0,0,0,0,0,0,0,0,0
35862,Z,Edwards-Hoffman,3.375,204000,180,01/01/12,Mar-12,80,1.0,30.0,...,0,0,0,0,0,0,0,0,0,0
35863,X,Browning-Hart,4.250,200000,360,01/02/12,Apr-12,52,2.0,38.0,...,0,0,0,0,0,0,1,0,0,0
35864,Y,Edwards-Hoffman,4.375,400000,360,01/02/12,Apr-12,66,1.0,34.0,...,0,0,0,0,0,0,0,0,0,0
35865,X,OTHER,4.375,182000,360,01/02/12,Apr-12,70,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0

In [334]:
from sklearn.preprocessing import LabelEncoder

In [335]:
le1 = LabelEncoder().fit(X_combined_data_edited['source'])
X_combined_data_edited['source_new'] = le1.transform(X_combined_data_edited['source'])
X_combined_data_edited = X_combined_data_edited.drop('source', axis=1)

In [336]:
le1 = LabelEncoder().fit(X_combined_data_edited['financial_institution'])
X_combined_data_edited['financial_institution_new'] = le1.transform(X_combined_data_edited['financial_institution'])
X_combined_data_edited = X_combined_data_edited.drop('financial_institution', axis=1)

In [337]:
le1 = LabelEncoder().fit(X_combined_data_edited['origination_date'])
X_combined_data_edited['origination_date_new'] = le1.transform(X_combined_data_edited['origination_date'])
X_combined_data_edited = X_combined_data_edited.drop('origination_date', axis=1)

In [338]:
le1 = LabelEncoder().fit(X_combined_data_edited['first_payment_date'])
X_combined_data_edited['first_payment_date_new'] = le1.transform(X_combined_data_edited['first_payment_date'])
X_combined_data_edited = X_combined_data_edited.drop('first_payment_date', axis=1)

In [339]:
le1 = LabelEncoder().fit(X_combined_data_edited['loan_purpose'])
X_combined_data_edited['loan_purpose_new'] = le1.transform(X_combined_data_edited['loan_purpose'])
X_combined_data_edited = X_combined_data_edited.drop('loan_purpose', axis=1)

# Normalize

In [340]:
from sklearn.preprocessing import StandardScaler

In [341]:
X_combined_data_edited = StandardScaler().fit_transform(X_combined_data_edited)
X_combined_data_edited = pd.DataFrame(X_combined_data_edited)

C:\Users\BAT PC\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\BAT PC\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

## Spliting

In [342]:
train_edited = X_combined_data_edited.iloc[0:116058]

In [343]:
test_edited = X_combined_data_edited.iloc[116058:151924]

In [344]:
print(len(train_edited))
print(len(test_edited))

116058
35866

In [345]:
train_edited.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116058 entries, 0 to 116057
Data columns (total 27 columns):
0     116058 non-null float64
1     116058 non-null float64
2     116058 non-null float64
3     116058 non-null float64
4     116058 non-null float64
5     116058 non-null float64
6     116058 non-null float64
7     116058 non-null float64
8     116058 non-null float64
9     116058 non-null float64
10    116058 non-null float64
11    116058 non-null float64
12    116058 non-null float64
13    116058 non-null float64
14    116058 non-null float64
15    116058 non-null float64
16    116058 non-null float64
17    116058 non-null float64
18    116058 non-null float64
19    116058 non-null float64
20    116058 non-null float64
21    116058 non-null float64
22    116058 non-null float64
23    116058 non-null float64
24    116058 non-null float64
25    116058 non-null float64
26    116058 non-null float64
dtypes: float64(27)
memory usage: 23.9 MB

# Random Forest

In [346]:
# from sklearn.ensemble import RandomForestClassifier
# rf = RandomForestClassifier(n_estimators=200)

In [347]:
# rf.fit(train_edited, train_data['m13'])

In [348]:
# results = rf.predict(test_edited)
# results_df = pd.DataFrame(results, index=test_data['loan_id'], columns=['m13'])
# len(results_df)

# Logistic Regression

In [349]:
# from sklearn.linear_model import LogisticRegression
# lr = LogisticRegression(class_weight={1:1,0:0.05})

In [350]:
# lr.fit(train_edited, train_data['m13'])

In [351]:
# results = lr.predict(test_edited)
# results_df = pd.DataFrame(results, index=test_data['loan_id'], columns=['m13'])

# XGBoost

In [352]:
from xgboost import XGBClassifier

In [439]:
xgbclassifier = XGBClassifier(booster='dart', max_delta_step=5, reg_alpha=20, reg_lambda=100, scale_pos_weight=5,
              learning_rate=0.01, n_estimators=150, subsample=0.5)

In [440]:
xgbclassifier.fit(train_edited, train_data['m13'])

XGBClassifier(base_score=0.5, booster='dart', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.01,
       max_delta_step=5, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=150, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=20,
       reg_lambda=100, scale_pos_weight=5, seed=None, silent=None,
       subsample=0.5, verbosity=1)

In [473]:
results = []
xbg_predict_proba = xgbclassifier.predict_proba(test_edited)
for i in xbg_predict_proba:
    if(i[0]>0.66):
        results.append(0)
    else:
        results.append(1)
results_df = pd.DataFrame(results, index=test_data['loan_id'], columns=['m13'])

In [474]:
print(len(results_df[results_df['m13'] == 0]))
print(len(results_df[results_df['m13'] == 1]))

35652
214

In [475]:
# results = xgbclassifier.predict(test_edited)
# results_df = pd.DataFrame(results, index=test_data['loan_id'], columns=['m13'])

In [476]:
# print(len(results_df[results_df['m13'] == 0]))
# print(len(results_df[results_df['m13'] == 1]))

# --------------

In [477]:
results_df

         m13
loan_id
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         1
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
30         0
...      ...
35837      0
35838      0
35839      0
35840      0
35841      0
35842      0
35843      0
35844      0
35845      0
35846      0
35847      0
35848      0
35849      0
35850      0
35851      0
35852      0
35853      0
35854      0
35855      0
35856      0
35857      0
35858      0
35859      0
35860      0
35861      0
35862      0
35863      0
35864      0
35865      0
35866      0

[35866 rows x 1 columns]

In [478]:
results_df.to_csv('Resultsn150_66_xg.csv')

In [424]:
df_sample1 = pd.read_csv('Results5_xg.csv')

In [319]:
len(df_sample1)

35866